dist
build
.cache
.idea
*.swp
*.iml
out
.DS_Store
generated
nbproject/private
#ignore everything inside target, but not target itself, 
#to be able to unignore something inside target
**/target/*
.settings
.project
.classpath

